#view
/views/back/*
!/views/back/build/
!/views/back/css/
!/views/back/images/
!/views/back/js/
!/views/back/vendors/
!/views/back/home.html
#controller
/application/controllers/*
!/application/controllers/Index.php
#model
/application/models/*
!/application/models/Index_Model.php

#mvc_generation
/mvc_generation/config.json


.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
